{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <h2><a href="/blogs/{{ post.category.link }}">{{ post.category.name }}</a> → <a href="/blogs/{{ post.category.link }}/{{ post.key.id }}">{{ post.title }}</a></h2>
        <div class="well">
            {% autoescape off %}
                {{ post.teaser }}
            {% endautoescape %}
            <hr>
            <div class="row">
                <div class="span2">Автор: {{ post.author_name }}</div>
                <div class="span3">Дата: {{ post.pub_date|date:'d.m.Y G:i:s' }}</div>
                <div class="span2">{{ post.comments_count }} комментариев</div>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        <ul>
            {% if page > 1 %}
                <li><a href="/page{{ page|add:"-1" }}">← Позже</a></li>
            {% endif %}
            {% if page != pages|length %}
                <li><a href="/page{{ page|add:"1" }}">Раньше →</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="pagination">
        <ul>

            {% for i in pages %}
                {% if page == i %}
                    <li class="active"><a href="/page{{ i }}">{{ i }}</a>
                {% else %}
                    <li><a href="/page{{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}